langchain
openai
huggingface_hub
python-dotenv
apikey
streamlit
streamlit_chat
st-click-detector
pinecone-client
sentence_transformers
keyboard
google-generativeai
langchain_google_genai
ctransformers
langchain-community
beautifulsoup4
streamlit-extras
streamlit-text-label
streamlit-javascript
streamlit-modal
streamlit-float
seaborn
streamlit-aggrid